@import "./blog-card.scss";

#blog {
    width: 100%;
    overflow: hidden;
    padding-top: 0.6rem;
    padding-bottom: 0;
    @include container;

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: 700;
                margin-bottom: 0;
                color: $Black;
            }
        }

        .text {
            margin-top: 12px;
            text-align: center;

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content {
        width: 100%;
        height: max-content;
        margin-top: -3rem;
        padding-bottom: 30px;

        .shape-1 {
            position: relative;
            top: 3.7rem;
            left: -56px;
            z-index: 40;

            img {
                width: 135px;
            }
        }

        .shape-2 {
            position: relative;
            top: -5.7rem;
            left: 90px;
            z-index: 40;
            text-align: end;

            img {
                width: 185px;
            }
        }
    }
}