@import "./blog-card.scss";

#blog {
    width: 100%;
    height: max-content;
    overflow: hidden;
    padding-top: 0.6rem;
    padding-bottom: 0;
    @include container;

    @include screen(small) {
        padding-bottom: 6rem;
    }

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: 700;
                margin-bottom: 0;
                color: $Black;
            }
        }

        .text {
            margin-top: 12px;
            text-align: center;

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content {
        width: 100%;
        height: max-content;
        margin-top: -2rem;

        @include screen(small){
            margin-top: -0.5rem;               
        }


        .shape-1 {
            position: relative;
            top: 4rem;
            left: -56px;
            z-index: 40;

            @include screen(small) {
                left: -27px;
                top: 2.8rem;
            }

            @include screen(medium) {
                left: -50px;
            }

            img {
                width: 135px;

                @include screen(small) {
                    width: 86px;
                }

                @include screen(medium) {
                    width: 105px;
                }
            }
        }

        .shape-2 {
            position: relative;
            top: -5.7rem;
            left: 90px;
            z-index: 40;
            text-align: end;

            @include screen(small) {
                left: 43px;
                top: -2.2rem;
            }

            @include screen(medium) {
                left: 80px;
                top: -5rem;
            }

            img {
                width: 185px;

                @include screen(small) {
                    width: 110px;
                }

                @include screen(medium) {
                    width: 150px;
                }
            }
        }
    }

    .all-blog {
        text-align: center;
        position: relative;
        top: -9rem;

        @include screen(small){
            top: -3rem;
        }

        @include screen(medium){
            top: -8rem;
        }

        .btn {
            text-transform: uppercase;
            font-size: 12.7px;
            padding: 17px 32px;
            font-weight: bold;
            border-radius: 7px;
            background-color: $Black;
            box-shadow: 4px 4px rgb(189, 187, 187);
            color: #fff;

            @include screen(small){
                padding: 17px   44px;
                font-size: 11.7px;
            }
        }
    }
}