@import "./features-card.scss";

#features {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 50;
    top: -6rem;
    padding-bottom: 0;
    padding-top: 3rem;
    @include container;

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 75px;

            .sparkle {
                margin-top: -75px;
                position: relative;
                left: -87px;

                img {
                    width: 190px;
                }
            }

            h1 {
                font-weight: 700;
                margin-bottom: 0;
                color: $Black;
            }
        }

        .text {
            margin-top: 0;
            position: relative;
            top: -21px;

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content {
        margin-top: 3rem;
        width: 100%;

        .pricing-btn {
            text-align: center;
            margin-top: 4rem;

            .btn {
                text-transform: uppercase;
                font-size: 12.7px;
                padding: 17px 32px;
                font-weight: bold;
                border-radius: 7px;
                background-color: $Black;
                box-shadow: 4px 4px rgb(189, 187, 187);
                color: #fff;
            }
        }
    }
}