@import "./features-card.scss";

#features {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 50;
    top: -2rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
    @include container;

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 75px;

            .sparkle {
                margin-top: -75px;
                position: relative;
                left: -87px;

                img {
                    width: 160px;
                }
            }

            h1 {
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        .text {
            margin-top: 0;

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content{
        margin-top: 4rem;
        width: 100%;
    }
}