@import "./testimonials-card.scss";

#testimonials {
    width: 100%;
    overflow: hidden;
    background-color: $alice;
    padding-top: 5.6rem;
    padding-bottom: 7.5rem;
    padding-left: 8%;
    @include container;

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -33px;

            .sparkle {
                position: relative;
                top: -27px;

                @include screen(small){
                    left: 30px;
                }

                img {
                    width: 60px;
                }
            }

            h1 {
                font-weight: 700;
                margin-bottom: 0;
                color: $Black;
            }
        }

        .text {
            margin-top: 10px;

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content {
        width: max-content;
        display: flex;
        gap: 15px;
        overflow: hidden;
        margin-top: 4rem;

        @include screen(small){
            margin-top: 3.4rem;
        }
    }

    .testimonials-buttons {
        display: flex;
        margin-top: 3rem;
        gap: 17px;

        img {
            width: 39.5px;
            object-fit: contain;
        }
    }
}