.episodes-card {
    width: 100%;
    height: max-content;
    padding: 10px;
    border: 2px solid $Black;
    border-radius: 12px;
    background-color: #fff;
    gap: 7px;

    @include screen(small){
        padding-bottom: 30px;
    }

    .first-section {
        display: flex;
        flex-direction: row;
        height: 12rem;

        @include screen(small){
            flex-direction: column;
            height: max-content;
        }

        @include screen(medium){
            height: max-content;
        }


        @include screen-x(1024px, 1100px) {
           height: 13.4rem;
        }

        .cover {
            width: 30%;
            height: 100%;

            @include screen(small){
                width: 100%;
                height: 11rem;
            }

            img {
                width: 100%;
                object-fit: contain;

                @include screen(small){
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }

        .header {
            width: 70%;
            padding: 17px;

            @include screen(small){
                width: 100%;
            }

            .title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h6 {
                    color: $Vermillion;
                    font-weight: 600;
                    text-align: start;
                }

                h5 {
                    color: $Vermillion;
                    font-weight: 700;
                }
            }

            .line {
                width: 100%;
                height: 2px;
                margin-top: 15px;
                border-radius: 15px;
                background-color: rgb(189, 188, 188);
            }

            .text {
                margin-top: 9px;

                p {
                    color: $Davys-grey;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }

    .second-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 8px;

        @include screen(medium){
            margin-top: 15px;
        }

        @include screen(small){
            width: 100%;
            flex-direction: column;
            padding-left: 18px;
        }

        .tags {
            display: flex;
            gap: 8px;

            .btn {
                border: 1px solid $Davys-grey;
                color: $Davys-grey;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .hosted {
            height: 100%;

            @include screen(small){
                margin-top: 13px;
            }

            p {
                margin-bottom: 0;
                color: $Davys-grey;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}

#episodes-5,
#episodes-4,
#episodes-1 {

    .title {

        h5 {
            color: $Black;
        }
    }
}

#episodes-2,
#episodes-3,
#episodes-6 {
    box-shadow: 8px 8px $Pewter-blue;
}