@import "./episodes-card.scss";

#episodes {
    width: 100%;
    overflow: hidden;
    height: max-content;
    background-color: $Champagne;
    padding-top: 6rem;
    position: relative;
    top: -6rem;
    padding-bottom: 7rem;
    @include container;

    @include screen(small) {
        padding-top: 5.5rem;   
    }

    .sparkle {
        position: relative;
        text-align: end;
        left: 85px;
        top: 25px;

        @include screen(small){
            left: 53px;
        }

        @include screen(medium){
            left: 70px;
            top: 32px;
        }

        img {
            width: 140px;
            @include bounce;

            @include screen(small){
                width: 87px;
            }

            @include screen(medium){
                width: 110px;
            }
        }
    }

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: 700;
                margin-bottom: 0;
                color: $Black;
            }
        }

        .text {
            margin-top: 12px;
            text-align: center;

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content {
        width: 100%;
        margin-top: -4rem;

        @include screen(small){
            margin-top: -1.7rem;
        }


        .all-episodes {
            text-align: center;
            margin-top: 5rem;

            .btn {
                text-transform: uppercase;
                font-size: 12.7px;
                padding: 17px 32px;
                font-weight: bold;
                border-radius: 7px;
                background-color: $Black;
                box-shadow: 4px 4px rgb(189, 187, 187);
                color: #fff;

                @include screen(small){
                    padding: 17px   44px;
                    font-size: 11.7px;
                }
            }
        }
    }
}