@import "./espisodes-card.scss";

#episodes {
    width: 100%;
    overflow: hidden;
    height: max-content;
    background-color: $Champagne;
    padding-top: 4rem;
    position: relative;
    top: -6rem;
    padding-bottom: 5rem;

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: 700;
                margin-bottom: 0;
                color: $Black;
            }
        }

        .text {
            margin-top: 12px;
            text-align: center;

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content{
        width: 100%;
    }
}