$Black : #000000;
$Vermillion : #CD4631;
$Davys-grey: #4D4D4D;
$Pewter-blue: #81ADC8;
$Champagne : #F7EDE8;
$alice: #EDF3F7;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
}