#welcoming-cover {
   width: 100%;
   overflow: hidden;
   height: 100%;
   padding-bottom: 5rem;

   &__container {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 17px;

      .card {
         border-radius: 17px;
         
         img {
            object-fit: contain;
            width: 100%;
         }
      }
   }
}