#welcoming-hero {
    width: 100%;
    min-height: 27rem;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 7rem;

    .hero-shape1 {
        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        top: 50px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .hero-shape2 {
        width: 14%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        top: 50px;

        img {
            width: 138px;
            object-fit: contain;
        }
    }

    .content {
        width: 60%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .title {

            h1 {
                color: $Black;
                font-weight: bolder;
                font-size: 4.1em;
                text-align: center;
                line-height: 64px;

                span {
                    color: $Vermillion;
                }
            }
        }

        .text {
            margin-top: 2rem;
            width: 37%;
            text-align: center;

            p {
                color: $Davys-grey;
            }
        }

        .button {
            margin-top: 2rem;

            .btn {
                text-transform: uppercase;
                font-size: 12.7px;
                padding-top: 17.5px;
                padding-bottom: 17.5px;
                padding-left: 41px;
                padding-right: 41px;
                font-weight: bold;
                border-radius: 7px;
                background-color: $Black;
                box-shadow: 4px 4px rgb(189, 187, 187);
                color: #fff;
            }
        }
    }
}