#welcoming-hero {
    width: 100%;
    min-height: 27rem;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 7rem;

    @include screen(small){
      padding-bottom: 5rem;           
      height: max-content;
      min-height: auto;
    }

    .hero-shape1 {
        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        top: 50px;

        @include screen(small){
            width: 135px;   
            position: relative;      
            left: 10px;
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .hero-shape2 {
        width: 20%;
        display: flex;
        position: relative;
        right: 45px;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        top: 50px;

        @include screen(small){
          width: 135px;     
          right: 10px;    
        }

        img {
            width: 138px;
            object-fit: contain;

            @include screen(small){
                width: 50px;       
            }
        }
    }

    .content {
        width: 60%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @include screen(small){
            width: 200%;           
        }

        .title {

            h1 {
                color: $Black;
                font-weight: bolder;
                font-size: 4.1em;
                text-align: center;
                line-height: 64px;

                @include screen(small){
                    font-size: 34px;
                    line-height: normal;
                }

                span {
                    color: $Vermillion;
                }
            }
        }

        .text {
            margin-top: 2rem;
            width: 37%;
            text-align: center;

            @include screen(small){
                width: 100%;    
                margin-top: 0.5rem;   
            }

            p {
                color: $Davys-grey;
            }
        }

        .button {
            margin-top: 2rem;

            @include screen(small){
                margin-top: 0.8rem;
            }

            .btn {
                text-transform: uppercase;
                font-size: 12.7px;
                padding-top: 17.5px;
                padding-bottom: 17.5px;
                padding-left: 41px;
                padding-right: 41px;
                font-weight: bold;
                border-radius: 7px;
                background-color: $Black;
                box-shadow: 4px 4px rgb(189, 187, 187);
                color: #fff;

                @include screen(small){
                    padding: 14px 44px;
                    font-size: 11.6px;
                }
            }
        }
    }
}