@import "./hero.scss";
@import "./cover.scss";
@import "./supported.scss";

#welcoming {
    width: 100%;
    overflow: hidden;
    margin-top: 3.7rem;
    background-color: $Champagne;
    height: min-content;
    padding-bottom: 7rem;
}