@import "./about-card.scss";

#about {
   background-color: #FFFFFF;
   width: 100%;
   overflow: hidden;
   padding-bottom: 1rem;
   @include container;

   @include screen(small){
      margin-top: -0.3rem;
   }

   .title {
      text-align: center;
      width: 40%;
      margin: auto;

      @include screen(small){
         width: 97%;
      }

      @include screen(medium){
         width: 90%;
      }

      h2 {
         color: $Black;
         font-weight: 700;
      }
   }

   .content {
      margin-top: 4rem;
   }

   .quote {
      width: 100%;
      margin-top: 5rem;

      @include screen(medium){
         margin-top: 3rem;
      }

      @include screen(small){
         margin-top: 3.6rem;
      }

      &__container {
         width: 100%;
         height: max-content;
         background-color: $Champagne;
         display: flex;
         flex-direction: row;
         border-radius: 6px;

         .shape-1 {
            width: 15%;
            margin-bottom: 35px;
            position: relative;
            left: -42px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @include screen(small){
               left: -20px;
               top: 3rem;
               width: 25px;
            }

            img {
               width: 80px;
               object-fit: contain;
               @include bounce;

               @include screen(small){
                  width: 54px;
               }

               @include screen(medium){
                  width: 70px;
               }
            }
         }

         .content {
            width: 70%;
            padding-bottom: 3rem;
            padding-top: 3rem;
            margin-top: 0;

            @include screen(small){
               padding-bottom: 4.5rem;
               padding-top: 3.5rem;
               width: 97%;
            }

            .quote-item {
               text-align: center;

               img {
                  width: 30px;
                  object-fit: contain;
               }
            }

            .text {
               text-align: center;
               width: 70%;
               margin: 2.7rem auto;

               @include screen(small){
                  width: 100%;
               }

               h3 {
                  font-weight: 700;
                  color: $Black;

                  @include screen(small){
                     font-size: 19px;
                  }
               }
            }

            .author {
               width: 100%;
               height: 40px;
               display: flex;
               justify-content: center;
               align-items: center;
               margin-top: 2.7rem;

               @include screen(small){
                  flex-direction: column;
                  margin-top: 3rem;
               }

               &__profile {

                  p {
                     font-size: 14px;
                     font-weight: 500;
                     margin-bottom: 0;

                     @include screen(small){
                        font-size: 12.6px;
                     }

                     img {
                        position: relative;
                        left: -10px;

                        @include screen(small){
                           width: 37px;
                        }
                     }
                  }
               }

               &__job {
                  display: flex;
                  align-items: center;
                  height: 100%;
                  margin-left: 22px;

                  @include screen(small){
                     margin-top: 14px;
                     margin-left: 0;
                  }

                  p {
                     margin-bottom: 0;
                     font-size: 14px;
                     font-weight: 700;

                     @include screen(small){
                        font-size: 12.3px;
                     }

                     img {
                        position: relative;
                        left: -7px;
                     }
                  }
               }
            }
         }

         .shape-2 {
            width: 15%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            position: relative;
            left: 32px;
            top: -35px;

            @include screen(small){
               left: 18px;
               width: 25px;
            }

            img {
               width: 90px;
               object-fit: contain;
               @include rotation;

               @include screen(small){
                  width: 57px;
               }

               @include screen(medium){
                  width: 75px;
               }
            }
         }
      }
   }
}