@import "./about-card.scss";

#about {
   background-color: #FFFFFF;
   width: 100%;
   overflow: hidden;
   @include container;

   .title {
      text-align: center;
      width: 40%;
      margin: auto;

      h2 {
         color: $Black;
         font-weight: 700;
      }
   }

   .content {
      margin-top: 4rem;
   }
}