@import "./sponsors-card.scss";

#sponsors {
    width: 100%;
    overflow: hidden;
    margin-top: -10rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    @include container;

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -33px;

            .sparkle {
                position: relative;
                top: -30px;
                left: 32px;

                img {
                    width: 90px;
                }
            }

            h1 {
                font-weight: 700;
                margin-bottom: 0;
                color: $Black;
            }
        }

        .text {
            margin-top: -2px;

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content{
        width: 100%;
        margin-top: 6rem;

         .shape-1{
            position: relative;
            top: 4rem;
            left: 50px;
            text-align: end;
            z-index: 40;
             
             img{
                width: 95px;
             }
         }

         .shape-2{
            position: relative;
            top: -4rem;
            left: -60px;
            z-index: 40;
             
             img{
                width: 95px;
             }
         }
    }
}