.sponsors-card {
    width: 100%;
    height: max-content;
    position: relative;
    z-index: 70;
    background-color: #fff;
    border-radius: 7px;


    .price {
        width: 100%;
        border: 1.5px solid $Black;
        border-radius: 7px;
        padding: 40px 30px 25px 30px;

        .header {
            height: 14rem;

            @include screen(small) {
                height: max-content;
            }

            .title {
                width: 100%;
                display: flex;
                justify-content: space-between;

                @include screen(small) {
                    flex-direction: column;
                }

                @include screen-x(1024px, 1117px) {
                    flex-direction: column;
                }

                h3 {
                    color: $Black;
                    font-weight: 700;
                }
            }


            .text {
                margin-top: 2rem;

                @include screen(small) {
                    margin-top: 0.4rem;
                }

                p {
                    color: $Davys-grey;
                    font-weight: 500;
                    font-size: 14px;
                }
            }

        }

        .button-price {
            position: relative;
            right: 15px;
            display: flex;
            width: 100%;
            justify-content: space-between;

            @include screen(small) {
                margin-top: 2.7rem;
            }

            .button {

                .btn {
                    text-transform: uppercase;
                    font-size: 12.7px;
                    padding: 14px 28px;
                    font-weight: bold;
                    border-radius: 7px;
                    background-color: $Black;
                    box-shadow: 4px 4px rgb(189, 187, 187);
                    color: #fff;

                     @include screen(small){
                        padding: 13px 26px;
                        font-size: 11.8px;
                     }
                }
            }

            .price-value {

                h5 {
                    color: $Vermillion;
                    font-weight: 600;

                    span {
                        font-size: 14px;
                        color: $Davys-grey;
                    }
                }
            }
        }
    }

    .benefits {
        margin-top: 22px;
        width: 100%;
        height: 20rem;
        border: 1.5px solid $Black;
        border-radius: 7px;
        padding: 40px 30px 25px 30px;

        @include screen(small) {
            margin-top: 13px;
            height: max-content;
        }

        p {
            font-size: 14px;
            color: $Davys-grey;
            font-weight: 700;
        }

        .points {

            p {
                color: $Black;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

#family {
    .price {
        border: 1.5px solid $Vermillion;
        background-color: $Champagne;

        .title {
            p {
                font-size: 13px;
                border-radius: 5px;
                font-weight: 600;
                padding: 6px;
                color: #fff;
                background-color: $Vermillion;

                @include screen(small) {
                    width: 145px;
                    text-align: center;
                    margin-top: 7px;
                }

                @include screen-x(1024px, 1117px) {
                    width: 145px;
                    text-align: center;
                    margin-top: 7px;
                }
            }
        }
    }

    .benefits {
        border: 1.5px solid $Vermillion;
        background-color: $Champagne;
    }
}