@import "./sponsors-card.scss";

#sponsors {
    width: 100%;
    overflow: hidden;
    margin-top: -10rem;
    padding-top: 3rem;
    padding-bottom: 0;
    @include container;

    @include screen(small) {
        padding-bottom: 1.4rem;   
    }

    .section-header {
        .title {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -33px;

            .sparkle {
                position: relative;
                top: -30px;
                left: 32px;

                img {
                    width: 90px;

                    @include screen(small) {
                        width: 70px;
                    }
                }
            }

            h1 {
                font-weight: 700;
                margin-bottom: 0;
                color: $Black;
            }
        }

        .text {
            margin-top: -2px;

            @include screen(small) {
                margin-top: 10px;
            }

            p {
                color: $Davys-grey;
                text-align: center;
            }
        }
    }

    .section-content{
        width: 100%;
        margin-top: -2rem;

         .shape-1{
            position: relative;
            top: 3.5rem;
            left: 50px;
            text-align: end;
            z-index: 40;

            @include screen(small) {
                left: 26px;
                top: 2.6rem;
            }
             
             img{
                width: 95px;

                @include screen(small) {
                    width: 65px;
                }
             }
         }

         .shape-2{
            position: relative;
            top: -4rem;
            left: -60px;
            z-index: 40;

            @include screen(small) {
                left: -30px;
                top: -2rem;
            }
             
             img{
                width: 95px;

                @include screen(small) {
                    width: 70px;
                }
             }
         }
    }
}