#footer {
    width: 100%;
    overflow: hidden;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-color: #fff;
    @include container;

    .section-info {

        .logo-copyright {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 15px;

            .copyright {

                p {
                    color: $Davys-grey;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
        }

        .text{

            p{
                color: $Davys-grey;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    .footer-menu{
        width: 100%;

         ul{
            display: flex;
            flex-direction: column;
            gap: 20px;

            li{
                color: $Black;
                font-size: 14px;
                font-weight: 500;
            }

            #colored-item{
                color: $Vermillion;
            }
         }
    }

    .section-plateform{

        p{
            color: $Davys-grey;
            font-size: 14px;
            font-weight: 500;
        }

        .icons{
            display: flex;
            gap: 24px;

             img{
                width: 72px;
                object-fit: contain;
             }

             #icon-1{
                width: 114px;
             }
        }
    }
}