#footer {
    width: 100%;
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 4.6rem;
    background-color: #fff;
    @include container;
    box-shadow: 0 -2px 2px rgb(189, 187, 187);

    @include screen(small) {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    @include screen(medium) {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }

    .header {
        .section-info {
            @include screen(small) {
                text-align: center;
            }

            .logo-copyright {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: 15px;

                @include screen(small) {
                    justify-content: center;
                }

                .copyright {

                    p {
                        color: $Davys-grey;
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                }
            }

            .text {

                p {
                    color: $Davys-grey;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        .footer-menu {
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-left: 0;

                @include screen(small) {
                    margin-left: 0;
                    padding-left: 0;
                }

                @include screen(small) {
                    text-align: center;
                }

                li {
                    color: $Black;
                    font-size: 14px;
                    font-weight: 500;

                    @include screen(small) {
                        font-size: 15px;
                    }
                }

                #colored-item {
                    color: $Vermillion;
                }
            }
        }

        .section-plateform {

            @include screen(small) {
                text-align: center
            }

            p {
                color: $Davys-grey;
                font-size: 14px;
                font-weight: 500;
            }

            .icons {
                display: flex;
                gap: 24px;

                @include screen(small) {
                    gap: 18px;
                    justify-content: center;
                }

                @include screen-x(1020px, 1183px) {
                    gap: 13px;
                }

                img {
                    width: 75px;
                    object-fit: contain;

                    @include screen-x(1020px, 1183px) {
                        width: 57px;
                    }

                    @include screen(small) {
                        width: 60px;
                    }
                }

                #icon-1 {
                    width: 114px;
                }
            }
        }
    }

    .line {
        margin-top: 3rem;
        width: 100%;
        height: 1px;
        background-color: $Davys-grey;
    }

    .footer-note {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include screen(small) {
            flex-direction: column;
        }

        .author {

            p {
                color: $Davys-grey;
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 0;

                span {
                    color: $Vermillion;
                }
            }
        }

        .privacy {

            @include screen(small) {
                margin-top: 10px;
            }

            p {
                color: $Davys-grey;
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }

}